vti_encoding:SR|utf8-nl
http\://www.gnu.org/licenses/gpl.html:fckeditor/editor/dialog/fck_about.html
fckeditor/_samples/html/sampleposteddata.asp:fckeditor/editor/plugins/bbcode/_sample/sample.html
http\://www.divansalar.com/activate.aspx:asset/mailbody.html
javascript\:loadhelpfront();:localstart.asp
javascript\:activate(<%=iver%>);:localstart.asp
mailto\:sajadya@yahoo.com:asset/articles/3381--3.doc
http\://www.spellchecker.net/fckeditor/:fckeditor/editor/dialog/fck_about.html
http\://www.gnu.org/licenses/lgpl.html:fckeditor/editor/dialog/fck_about.html
fckeditor/editor/_source/internals/fcktools.js:fckeditor/editor/dtd/fck_dtd_test.html
http\://www.mozilla.org/mpl/mpl-1.1.html:fckeditor/editor/dialog/fck_about.html
javascript\:void(0):fckeditor/editor/fckdebug.html fckeditor/editor/dialog/fck_spellerpages.html fckeditor/editor/filemanager/connectors/test.html fckeditor/editor/filemanager/connectors/uploadtest.html fckeditor/editor/filemanager/browser/default/browser.html
fckeditor/_samples/sample.css:fckeditor/editor/plugins/bbcode/_sample/sample.html
http\://www.divansalar.com/adver/a.aspx:adver/test.htm
http\://www.fckeditor.net/sponsors/apply:fckeditor/editor/dialog/fck_about.html
http\://www.fckeditor.net/:fckeditor/editor/dialog/fck_about.html
clsid\:d27cdb6e-ae6d-11cf-96b8-444553540000:asset/flash/earth.html
/iishelp/common/colegal.htm:localstart.asp
http\://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab:asset/flash/earth.html
