vti_encoding:SR|utf8-nl
vti_casesensitiveurls:IX|0
vti_textextensions:SX|.txt.cd.cs.csproj.dbproj.jsx.jsxbin.jsxinc.pkgdef.pkgundef.rc.rc2.rct.sln.sol.sor.txt.user.vb.vbproj.vdp.vdproj.vspscc.vsscc.vssscc.XOML.
vti_featurelist:VX|vti_ACIPAddresses vti_ACCreateNewUsers vti_ACChangePassword vti_ACNoUserGroup vti_ACCreateNewGroups vti_ACModifyGroups vti_ServerEmailTransport vti_ServerIndexServer
vti_dependenciesood:IR|0
vti_webservertype:SR|msiis
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_textindexood:IR|0
vti_htmlextensions:SX|.htm.html.shtml.stm.html.htm.shtm.htt.htx.asp.alx.asa.
vti_approvallevels:VR|Content\\ Review Legal\\ Review Code\\ Review Manager\\ Review
vti_createpostinfo:BX|false
vti_timecreated:TR|29 May 2020 05:47:22 -0000
vti_extenderversion:SR|4.0.2.8912
vti_longfilenames:IX|1
vti_welcomenames:VX|Default.htm Default.asp index.htm iisstart.asp
vti_insecureserverurl:SR|http://10-56-2-218
vti_secureserverurl:SR|https://10-56-2-218
vti_disableautoimgsizeexts:SX|.asp
vti_oldestcompatibleversion:SR|2.0.0.0
vti_restartmanual:IX|0
vti_defaultcharset:SR|windows-1256
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_hassearchbot:BR|false
vti_autorecalc:IX|1
vti_usernames:VR|
