vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Jul 2016 03:14:36 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|11 Jul 2016 03:14:36 -0000
vti_filesize:IR|7927
vti_cachedlinkinfo:VX|S|images/Noori/Noori-bg_16.gif S|images/Noori/noori_12.gif S|images/Noori/noori_13.gif S|images/Noori/noori_12.gif S|images/Noori/noori_13.gif S|images/under-middle.jpg S|images/ttTop.jpg S|images/ttBottom.jpg S|images/Noori/pers-topBG.gif S|images/Noori/pers-right-rep.gif S|images/Noori/pers-left-rep.gif
vti_cachedsvcrellinks:VX|FSUS|images/Noori/Noori-bg_16.gif FSUS|images/Noori/noori_12.gif FSUS|images/Noori/noori_13.gif FSUS|images/Noori/noori_12.gif FSUS|images/Noori/noori_13.gif FSUS|images/under-middle.jpg FSUS|images/ttTop.jpg FSUS|images/ttBottom.jpg FSUS|images/Noori/pers-topBG.gif FSUS|images/Noori/pers-right-rep.gif FSUS|images/Noori/pers-left-rep.gif
vti_backlinkinfo:VX|
