vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|29 Nov 2012 06:50:22 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|29 Nov 2012 06:50:22 -0000
vti_filesize:IR|6441
vti_cachedlinkinfo:VX|S|images/MainRep.jpg S|images/form-box-bg.jpg S|images/form-box-bg.jpg S|images/form-box-bg.jpg S|images/form-box-bg.jpg S|images/under-middle.jpg S|/images/ttTop.jpg S|/images/ttBottom.jpg
vti_cachedsvcrellinks:VX|FSUS|images/MainRep.jpg FSUS|images/form-box-bg.jpg FSUS|images/form-box-bg.jpg FSUS|images/form-box-bg.jpg FSUS|images/form-box-bg.jpg FSUS|images/under-middle.jpg FSUS|images/ttTop.jpg FSUS|images/ttBottom.jpg
vti_backlinkinfo:VX|
